.game-board {
    border: 2px solid #333;
    width: 560px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cell {
    border: 1px solid #333;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.player-1 {
    background-color: #ff6666;
}

.player-2 {
    background-color: #66b3ff;
}
