.game-board {
    border: 2px solid #333;
    padding-left: 2vh;
    padding-bottom: 5vh;
    width: 600px; /* Ajuste del ancho */
    height: 700px; /* Ajuste de la altura */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: #66b3ff;
}


.cell {
    border: 1px solid #333;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.player-1 {
    background-color: #ff6666;
}

.player-2 {
    background-color: #66b3ff;
}
